<foreach name="ulist" item="v">	
        	<tr>
            	<td class="num">{$v.user_id}</td>
                <td class="name">{$v.user_name}</td>
                <td class="nickname">{$v.user_nickname}</td>
                <td class="dept">{$v.dept_name}</td>
                <td class="sex">{$v.user_sex}</td>
                <td class="birthday">{$v.user_birthday}</td>
                <td class="tel">{$v.user_tel}</td>
                <td class="email">{$v.user_email}</td>
                <td class="ctime">{$v.user_ctime}</td>
                <td class="operate">操作</td>
            </tr>
       </foreach> 